version: 2.1

orbs:
  win: circleci/windows@2.4.0

defaults: &defaults
  parameters:
    node_version:
      type: string
      default: ""

windows_defaults: &windows_defaults
  environment:
    npm_config_loglevel: silent
  executor:
    name: win/default

commands:
  npmrc:
    steps:
      - run:
          name: Create .npmrc
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc

  setup_git:
    steps:
      - run:
          name: "Setup git environment"
          command: git config --global core.autocrlf false

  install_deps:
    description: Install dependencies
    steps:
      - run:
          name: Install dependencies
          command: npm install

  install_node_npm:
    description: Install correct Node version
    parameters:
      node_version:
        type: string
        default: ""
    steps:
      - run:
          name: Install correct version of Node
          command: nvm install << parameters.node_version >>
      - run:
          name: Use correct version of Node
          command: nvm use << parameters.node_version >>
  show_node_version:
    description: Log Node and npm version
    steps:
      - run:
          name: Node version
          command: node --version
      - run:
          name: NPM version
          command: npm --version

jobs:
  lint:
    <<: *defaults
    docker:
      - image: circleci/node:<< parameters.node_version >>
    steps:
      - checkout
      - show_node_version
      - install_deps
      - run:
          name: Run lint
          command: npm run lint

  test-windows:
    <<: *defaults
    <<: *windows_defaults
    steps:
      - setup_git
      - checkout
      - install_node_npm
      - show_node_version
      - install_deps
      - run:
          name: Run tests
          command: npm test

  test-unix:
    <<: *defaults
    docker:
      - image: circleci/node:<< parameters.node_version >>
    steps:
      - checkout
      - show_node_version
      - install_deps
      - run:
          name: Run tests
          command: npm test

  release:
    <<: *defaults
    docker:
      - image: circleci/node:<< parameters.node_version >>
    resource_class: small
    steps:
      - checkout
      - install_deps
      - run:
          name: Release
          command: npx semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
    - lint:
        name: lint
        context: nodejs-install
        node_version: "10"

    # UNIX tests
    - test-unix:
        name: Unix Tests for Node << matrix.node_version >>
        context: nodejs-install
        requires:
          - lint
        matrix:
          parameters:
            node_version: ["14.17.6", "12.0.0", "10.21.0"]

    # Windows tests
    - test-windows:
        name: Windows Tests for Node << matrix.node_version >>
        context: nodejs-install
        requires:
          - lint
        matrix:
          parameters:
            node_version: ["14.17.6", "12.0.0", "10.21.0"]

    - release:
        name: Release
        context: nodejs-lib-release
        node_version: "lts"
        requires:
          - lint
          - test-unix
          - test-windows
        filters:
          branches:
            only:
              - master
